{% extends '_layout1.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Excluindo a Pergunta Nº {{ object.id }}</h5>
    </div>
    <div class="card-body">

        <form method="post">
            {% csrf_token %} {# protege contra ataques - envio falso ou por robô #}
            <h6>Você tem certeza que deseja excluir a pergunta abaixo ?</h6>
            <br />
            <p>"{{ object.question_text }}"</p>
            <br />
            <button type="submit" class="btn btn-danger">Confirmar</button>
            <a href="{% url 'polls_list' %}" class="link-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}