{% extends '_layout1.html' %}

{% block content %} {# "miolo" do _layout1.html #}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Pergunta</h5>
    </div>
    <div class="card-body">
        <p>
            {{ question.question_text }}
            <a href="{% url 'poll_edit' pk=question.id %}" class="link-secondary">
                Editar
            </a> &nbsp;
            <a href="{% url 'poll_delete' pk=question.id %}" class="link-secondary">
                Excluir
            </a>
        </p>
        <p>Data de publicação: {{ question.pub_date }}</p>
        {% if question_choices %}
        <div class="mt-5">
            <h3>{{ question.question_text }}</h3>
            <form method="post" action="{% url 'poll_vote' question_id=question.id %}">
                {% csrf_token %}
                {% for choice in question_choices %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="choice" value="{{ choice.id }}">
                    <label class="form-check-label" for="choice_{{ choice.id }}">
                        {{ choice.choice_text}}
                    </label>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Votar</button>
            </form>
        </div>
        {% else %}
        <h5>Não existem alternativas para a pergunta</h5>
        {% endif %}
    </div>
</div>
{% endblock %}