{% extends '_base.html' %} <!-- herda tudo que já tem em _base.html -->
{% load static %}

{% block css %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!-- CSS do Projeto-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block main %}
  <div class="container">
    {% block content %}
      <p>Conteúdo padrão...</p>
    {% endblock content %}
  </div>
{% endblock %}


{% block javascript %}
  <!-- Bootstrap JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- JS do Projeto -->
  <script src="{% static 'js/base.js' %}"></script>
  <script src="{% static 'js/dialog.js' %}"></script>
{% endblock %}