{% extends '_layout1.html' %} <!-- herda tudo que já tem em _layout1.html -->

{% block head_title %}
    Mega Enquetes
{% endblock %}

{% block main %} <!-- substitui o bloco content em _layout1.html -->
    <h1>Nossas últimas Enquetes</h1>
    <a href="{% url 'poll_add' %}" class="btn btn-lg btn-primary font-weight-bold">
        + Pergunta
    </a>  
    {% for question in latest_question_list %}
        <article>
            <h2>Em: {{ question.pub_date|date:"d / m / Y" }}</h2>
            <p>
                {{ question.question_text }} &nbsp;
                <a href="{% url 'poll_show' pk=question.id %}" class="link-secondary">
                    Ver
                </a> &nbsp;
                <a href="{% url 'poll_edit' pk=question.id %}" class="link-secondary">
                    Editar
                </a> &nbsp;
                <a href="{% url 'poll_delete' pk=question.id %}" class="link-secondary">
                    Excluir
                </a>           
            </p>
        </article>
    {% endfor %}
{% endblock %} <!-- fecha o bloco content -->

